body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(32, 121, 180);
  color: aliceblue;
}
.Text-center {
  text-align: center;
}
.Container {
  width: 60%;
  margin: 10% auto;
}
.ListItem {
  background-color: aliceblue;
  color: blue;
}
.ListItem p {
  text-align: center;
  padding: 10px 0px;
}
.ListItem span {
  display: inline-block;
  padding: 10px 0px;
  font-size: 20px;
  text-align: center;
  border: 0.3px solid #ccc;
}
.ListItem span.title {
  background-color: rgb(23, 150, 150);
}
.ListItem span.name,
form input[type="text"] {
  width: 60%;
}
.ListItem span.age,
form input[type="number"] {
  width: 30%;
}
.ListItem span.action,
form input[type="submit"] {
  width: 10%;
}
.ListItem span.icon {
  color: #f00;
  cursor: pointer;
}
form input {
  padding: 10px;
  background: #ddd;
  border: 0.3px solid #ddd;
  border: transparent;
}
form input[type=submit] {
 background-color:rgb(23, 150, 150);
 cursor: pointer;
 color: #fff;
}

@media (max-width:500px) {
 
  .Container {
    width: 90%;
    margin: 10% auto;
  }
}